<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.example.springboot_02.mapper.UserMapper">-->
<!--&lt;!&ndash;    <select id="findByName" resultType="String">&ndash;&gt;-->
<!--&lt;!&ndash;        select c.name from (select id from user where name=#{name}) a left join (select userid,roleid from user_role) b on a.id=b.userid left join (select id,name from role) c on b.roleid=c.id&ndash;&gt;-->
<!--&lt;!&ndash;    </select>&ndash;&gt;-->
<!--</mapper>-->
